/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff0070;
  --title-color: #db00ff;
  --theme-color: #000028;
  --additional-color: #f1b2ce;

  /* Стили для декоративных элементов */
  --bg-image: url("../images/cover-image-dark.png");
  --decorative-element-display: inline;
  --decorative-element-color: var(--accent-color);
  --background-theme-color: var(--theme-color);
  --wrapped-text-color: var(--theme-color);
  --shadow-color: var(--accent-color);
  --wrapper-color: var(--accent-color);
  --switcher-color: var(--accent-color);
  --switcher-hover-color: #ff007040;
  --wrapper-section-color: var(--theme-color);
  --subtitle-color: var(--accent-color);
  --card-text-color: var(--additional-color);
  --link-focused-color: var(--additional-color);
  --link-hovered-color: var(--additional-color);
  --page-bg-color: var(--theme-color);
}
