/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-auto-rows: min-content;
  background-color: var(--page-bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* Убрал gap: 40px, чтобы сделать margin: у section; */
}

/* Шапка сайта */

.header {
  display: grid;
  height: 100vh;
  position: relative;
  min-height: 668px;
  padding: 10px;
  box-sizing: border-box;
  align-content: space-between;
}

/* Подвал сайта */

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
  align-content: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Заголовок в шапке */

.title {
  font-weight: bold;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
}

/* Стили тени для заголовка в подвале  */

.footer-decors {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

/* Медиазапросы для заголовка в шапке*/

@media (width <= 768px) {
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Декоративный текст REC */

.decorative-element {
  display: var(--decorative-element-display);
  position: absolute;
  font-size: var(--text-base);
  line-height: 26px;
  color: var(--decorative-element-color);
  right: 19px;
  top: 10px;
}

/* Декоративный элемент-круг */

.decorative-element::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorative-element-color);
  box-shadow: 0px 0px 4px 2px var(--decorative-element-color);
}

/* Обёртка */

.title-decor {
  background-color: var(--wrapper-color);
  width: 100%;
  height: min-content;
}

/* Отступ от обёртки в шапке */

.title + p {
  margin-bottom: 56px;
}

/* Текст в обёртке */

.wrapper-text {
  font-size: var(--text-base);
  line-height: var(--text-line-height);
  font-weight: bold;
  color: var(--wrapped-text-color);
}

/* Свитчер тем */

.header__theme-menu {
  justify-self: end;
  margin-top: 63px;
  margin-bottom: 12px;
}

/* Свитчер тем. Список */

.header__theme-menu-list {
  display: grid;
  width: fit-content;
  gap: 10px;
}

/* Свитчер тем. Элемент списка */

.header__theme-menu-item {
  color: var(--switcher-color);
  font-size: var(--text-base);
  line-height: var(--text-line-height);
  width: min-content;
}

/* Свитчер тем. Кнопка */

.header__theme-menu-button {
  background-color: transparent;
  align-content: center;
  cursor: pointer;
  border: none;
  padding: 1.5px 13px 1.5px 13px;
  box-sizing: border-box;
}

/* Стили для выбранной кнопки */

.header__theme-menu-button_active {
  pointer-events: none;

  outline: 1px solid var(--switcher-color);
}

/* Стили для кнопки в состоянии :hover */

.header__theme-menu-button:hover {
  outline: 1px solid var(--switcher-hover-color);
}

/* Стили для кнопки в состоянии :focus-visible */

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 0 var(--switcher-color);
  /*border-bottom: 1px solid var(--switcher-color);*/
}

/* Декоративная фигура сверху */
.decorated-zone::before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 1px solid var(--decorative-element-color);
  width: 25px;
  height: 25px;
  border-left: none;
  border-bottom: none;
  inset: 10px 10px auto auto;
  /*justify-self: end;
  align-self: flex-start;
  Я удалил выравнивание при помощи гридов
  */
}

/* Декоративная фигура снизу */
/* Не отображаются в footer */
.decorated-zone::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: 1px solid var(--decorative-element-color);
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-right: none;
  border-top: none;
  inset: auto auto 10px 10px;
  /* align-self: end;
  Я удалил выравнивание при помощи гридов
  */
}

/* Галерея */

.gallery-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

/* Изображение */

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Секция */

.section-layout {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px;
  box-sizing: border-box;
}

/* Стили для обертки колонки в секции how */

.wrapper-column {
  display: grid;
  gap: 20px;
}

/* Стили для обертки колонки в секции why */

.wrapper-why-section {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

/* Стили для обертки колонки в секции what */
.wrapper-what-section {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

/* Обёртка секций */

.main-content {
  display: grid;
  grid-auto-rows: min-content;
  gap: 50px;
  /* background-color: var(--wrapper-section-color);*/
  /* Удалил цвет фона по требованию ревьюера. В макетах и брифе он был. Возможно, не понял логику работы */
  padding: 40px 10px 40px 10px;
}

/* Заголовок второго уровня в секциях */

.main-title {
  display: block;
  font-size: var(--text-base);
  line-height: 23.4px;
  font-weight: bold;
  color: var(--subtitle-color);
}

/* Карточка */

.card {
  display: grid;
  grid-auto-rows: auto;
  align-content: start;
  gap: 10px;
}

/* Текст в карточках */

.card-text {
  font-size: var(--text-base);
  line-height: var(--text-line-height);
  color: var(--card-text-color);
}

/* Ссылка в карточке */
.card-link {
  text-shadow: 2px 2px 0px var(--shadow-color);
  outline: none;
}

/* Ссылка в карточке в состоянии focus*/
.card-link:focus-visible {
  outline: 1px solid var(--link-focused-color);
}

/* Ссылка в карточке в состоянии hover*/
.card-link:hover {
  border-bottom: 1px solid var(--link-hovered-color);
}

/* Стиль для отличного заголовка в карточке */
.wrapper-text-regular {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
  color: var(--wrapped-text-color);
}

/* Медиазапрос для планшета */

@media (width >= 768px) /* and (orientation: portrait) Удалил,
  чтобы стили наследовались в десктоп*/ {
  .main-content {
    gap: 80px;
    padding: 60px 20px 60px 20px;
  }

  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .title + p {
    max-width: 364px;
    margin-bottom: 163px;
    width: 100%;
    justify-self: end;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 13px;
  }

  .decorative-element {
    right: 29px;
    top: 20px;
  }

  .decorated-zone::before {
    inset: 20px 20px auto auto;
  }

  .decorated-zone::after {
    inset: auto auto 20px 20px;
  }

  .title {
    margin-left: -20px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .why > .main-title {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .why > .card {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .what > .main-title {
    max-width: 236px;
    width: 100%;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .gallery-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .gallery-layout > h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .ice-cream {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer {
    padding: 20px;
    min-height: 1024px;
  }

  .footer > .title {
    margin-left: 0px;
  }
}

/* Медиазапрос для десктопа */

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .main-content {
    padding: 60px 20px 60px 20px;
  }

  .wrapper-why-section {
    grid-template-columns: auto;
    gap: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 0px;
    margin-bottom: 161px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .title + p {
    max-width: 491px;
    margin-bottom: 115px;
  }

  .why {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .why > .card {
    grid-column-end: 4;
  }

  .wrapper-what-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what > .main-title {
    max-width: 315px;
  }

  .how {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .how > .wrapper-column {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer {
    min-height: 768px;
  }
}
